[submodule "sentinel-2-clustering"]
	path = sentinel-2-clustering
	url = git@github.com:maciekwielgosz/sentinel-2-clustering.git
[submodule "SRCNN-pytorch"]
	path = SRCNN-pytorch
	url = git@github.com:anmaran/SRCNN-pytorch.git
[submodule "KAIR"]
	path = KAIR
	url = git@github.com:anmaran/KAIR.git
